.container {
}

.table {
  width: 100%;
}

.product {
  display: flex;
  height: 134px;
  margin: 10px;
}

.img {
  min-height: 76px;
}

.remove:hover {
  cursor: default;
  color: red;
}
.price {
  min-width: 160px;
}

.quantity {
  min-width: 96px;
}

.total {
  min-width: 93px;
}

.table tbody tr {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.table tbody tr:nth-child(even) {
  background-color: lightgrey;
}

.subtotal {
  padding-right: 70px;
  text-align: right;
}

.table tfoot td {
  height: 100px;
}
