.main-nav {
  /* nav/desktop */
  position: fixed;
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background: #ffffff;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-nav-items {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: auto;
}

.main-nav-item {
  display: flex;
  align-items: center;
  text-align: center;
  color: #272727;
  margin: 0 20px;
}

.main-nav-item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.main-nav-item a:hover {
  padding: 20px;
  background-color: rgb(231, 231, 231);
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-menu img {
  margin: 10px;
}

.logo {
  width: 126px;
  height: 34px;
}

.profile {
  /* Profile */

  width: 34px;
  height: 34px;
}

.cart {
  /* Cart */

  width: 26px;
  height: 26px;
}

.header {
  /* bg-image */
  display: flex;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  justify-content: center;
  align-items: center;
}

.background-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 730px;
  min-height: 349px;
  background: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2px;
  text-align: center;
}

.background-card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  /* or 144% */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.background-card-description {
  max-width: 500px;
}

.background-card-link {
  /* green */
  display: flex;
  width: 310px;
  height: 40px;
  color: white;
  background: #56b280;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100vh;
}

.product-card {
  width: 255px;
  height: 230px;
}
