.root {
  padding: 55px;
  padding-bottom: 100px;
  display: flex;
  background: lightgrey;
}

.table {
  text-align: left;
  padding: 10px;
  width: 60%;
  overflow-y: scroll;
}

.table td {
  padding: 5px;
}

table td {
  border-bottom: 1px solid grey;
}

.table tr :last-child {
  font-weight: bold;
}
.coupon {
  margin: auto;
}
