#section-benefits ul {
  list-style: url("../../images/checkmark.svg");
  text-align: left;
  max-width: 50%;
}

#section-testimonials {
  background-color: rgba(86, 178, 128, 0.1);
  min-height: 100%;
  padding: 5%;
  flex-direction: column;
}
