.main-nav {
  /* nav/desktop */

  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  padding: 10px;
  width: 100%;
  min-height: 48px;

  background-color: white;
}

.main-nav-ul {
  display: flex;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.main-nav-ul li {
  display: flex;
}

.main-nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 44px;
  padding: 0 10px;
}

.main-nav-item a:hover {
  background-color: rgb(231, 231, 231);
  transform: scale(1.2);
}

.dropdown-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .main-nav-ul {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .dropdown-btn {
    display: block;
    padding: 0;
    margin: 0;
    border: 0px;
  }

  .main-nav-ul li {
    display: block;
    width: 100%;
  }

  .main-nav-item a:hover {
    background-color: rgb(231, 231, 231);
    transform: none;
  }
}
