.container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 44px;
  padding: 0 10px;
}

.container li {
  display: flex;
}

.container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44px;
  padding: 5px;
  min-width: 50%;
  text-align: center;
  margin: auto;
}

.container a:hover {
  background-color: rgb(231, 231, 231);
  transform: scale(1.2);
}
