.cart-img {
  position: absolute;
  top: 0;
  left: 0;
}

.cart {
  display: block;
  position: relative;
  min-width: 23px;
  height: 23px;
}

.cart-quantity {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  align-items: center;
  text-align: center;

  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  width: 11px;
  height: 11px;
  background-color: green;

  border-radius: 10px;
}
