.small {
  position: relative;
  width: 140px;
  min-height: 40px;
  border: 1px solid black;
  padding-top: 3px;
  padding-left: 9px;
}

.selected,
.select {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  /* black */

  color: #272727;
}

.select ol:hover {
  background-color: grey;
}

.selector {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.select ol {
  padding: 0;
}

.label {
  position: absolute;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 7px;
  color: grey;
}

.dropdown {
  display: flex;
  width: 25px;
  height: 28px;
}
