.small {
  position: relative;
  width: 140px;
  height: 40px;
  border: 1px solid black;
}

.mobile {
  position: relative;
  width: 347px;
  height: 40px;
  border: 1px solid black;
}

.large {
  position: relative;
  width: 445px;
  height: 40px;
  border: 1px solid black;
}

.selector {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
}

.selected {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  /* black */

  color: #272727;
}

.select {
  position: absolute;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  top: 37px;
  left: -1px;
  width: inherit;
  margin: 0px;
  padding: 0px;

  /* black */
  color: #272727;
  background-color: white;
  z-index: 10;
  border: 1px solid black;
  border-top: 1px solid white;
}
.select ol {
  padding: 2px 5px;
}
.select ol:hover {
  border: 1px solid grey;
}

.label {
  position: absolute;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 7px;
  color: grey;
}

.dropdown {
  display: flex;
  width: 25px;
  height: 28px;
}
