.large,
.medium,
.small,
.mobile {
  position: relative;
  display: block;
}

.large {
  width: 445px;
  height: 40px;
}

.medium {
  width: 216px;
  height: 40px;
}

.small {
  width: 140px;
  height: 40px;
}

.mobile {
  width: 346px;
  height: 40px;
}
