.container {
  max-height: 61px;
  max-width: 200px;
  margin: auto;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid green;
  padding: 2px 5px;
  background-color: grey;
}

.value {
  display: inline;
  max-width: 4ch;
  padding: 0 5px;
  margin: 3px;
  text-align: center;
  border: none;
}

.button {
  min-width: 10px;
  text-align: center;
  background-color: white;
  color: green;
  border: 0;
  padding: 0 10px;
  padding-bottom: 2px;
  margin: 0 5px;
  font-weight: bold;
}
.button:hover {
  background-color: rgb(230, 230, 230);
}
