:root {
  --color1: #56b280;
  --color2: #272727;
  --color3: white;
  --mobile: 800px;
}

.header {
  /* bg-image */
  display: flex;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.input-big {
  width: 445px;
  height: 40px;
}

.input-medium {
  width: 216px;
  height: 40px;
}

.input-small {
  width: 140px;
  height: 40px;
}

.grid-auto-fill {
  display: grid;
  grid-auto-flow: row;
}

.none {
  display: none;
}

ul a {
  text-decoration: none;
}
